* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 10;
}

body {
  margin: 0;
  padding: 10px;
  width: 100vw;
  height: 50vh;
  overflow-wrap: hidden;
  background-repeat: no-repeat;
  background-image: url(Mwedd9/creative-computing-02-data/images/wire copy.jpg)

}
file:///Users/marywedd/Documents/GitHub/creative-computing-02-data/images/wire%20copy.jpg
div.inline {
  display:inline-block;
}

.content {
  font-size: 0;
  height: 100%;
  width: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.box {
  width: 33.33%;
  height: 100%;
  background-color: #28A3F2;
  color: white;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.special-text{
  font-family: Roboto, sans-serif;
  font-size: 35px;
  color: #F27728;
  text-orientation: upright;
}


.box-content {
  font-size: 36px;

}

.box-1 {
  background-color: blue;
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 70%;
  background: url(file:///Users/marywedd/Documents/GitHub/creative-computing-02-data/images/notebook%20small.png);
  background-repeat: no-repeat;
  background-size: contain;

}

.special-text1 {
  font-weight: bold;
  font-family: Roboto, sans-serif;
  color: #F27728;
}
.box-2 {
  background-color: #A3DBFF;
  vertical-align: right;
  width: 100%;
  height: 70%;

}
.special-text3{
  color: #FFA46A;
  font-family: Roboto, sans-serif;
}

.box-3 {
  background-color:203, 36%, 82%;
  vertical-align: bottom;
  width: 100%;
  height: 100%;
  padding: 5;

}
.special-text4{
  color: #FFA46A;
  font-family: Roboto, sans-serif;

.box-4 {
  width: 100%;
  height: 100%;
  padding: 5;
  
}


@media only screen and (min-width: 600px) {
  .box-1 {
   height: 100vh;
   font-size: 15px;
   width: 100vh; 
 }
  .special-text1 {
    font-size: 15px;
    width: 100vh;
  }
}
